* {
  margin: 0px;
  padding: 0px;
}

/* NAVIGATION */

nav {
  padding: 20px;
  background-color: black;
  position: fixed;
  width: 100%;
}

.branding {
  float: left;
  background-color: yellow;
  border-radius: 5px;
  padding: 5px;
  font-weight: bolder;
  font-size: 1.5rem;
}

.interactions {
  display: flex;
  justify-content: center;
}

.inputValue {
  width: 50%;
  padding: 10px;
  font-size: 1rem;
  border: none;
  outline: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.searchIcon {
  padding: 10px;
  width: 50px;
  height: 20px;
  border: none;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgb(206, 206, 206);
  cursor: pointer;
}

/* MAIN */
main {
  display: flex;
  padding-top: 40px;
}

.poster {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50vw;
  background-color: red;
  height: 100vh;
}

.details {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  background-color: cyan;
  height: 100vh;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}
.answer {
  color: rgb(43, 42, 42);
}

span {
  font-size: 1.3rem;
  color: black;
}

/* MAKING EVERYTHING RESPONSIVE */
@media only screen and (max-width: 650px) {
  .posterImage {
    width: 250px;
    height: 350px;
  }
}
